<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-pdf-viewer" version="1.0.0">
    <name>PDFViewer</name>
    <description>A PDF viewer</description>
    <license>Apache 2.0</license>
    <keywords>cordova,pdfviewer</keywords>
    <js-module src="www/pdf-viewer.js" name="Viewer">
        <clobbers target="viewer" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <!-- matches the JavaScript exec call's service parameter. -->
            <feature name="PDFViewer">
                <!-- value matches the name of the plugin's Objective-C / Swift class. -->
                <param name="ios-package" value="PDFViewer" />
                <!-- plugin is instantiated even before they are referenced by a
                call from JavaScript. -->
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/PDFViewer.swift" />
    </platform>
</plugin>
